<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Parientes por lado materno:</h3>
    <div class="madre">
        {% for n in madre %}

        {{n.nombre}} {{n.apellido}} DNI: {{n.dni}} Fecha de Nacimiento: {{n.fechaNacimiento}}
        <br>

    {% endfor %}
    </div>
    <h3>Parientes por lado paterno:</h3>
    <div class="padre">
        {% for n in padre %}

        {{n.nombre}} {{n.apellido}} DNI: {{n.dni}} Fecha de Nacimiento: {{n.fechaNacimiento}}
        <br>

    {% endfor %}
    </div>

</body>
</html>